body {
    font-family: Arial, sans-serif;
    background-color: #1B3764;
    color: #ffffff;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.logo {
    width: 120px;
    height: 80px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter';
    transition: color 0.3s;
    font-size: 18px;
}

nav ul li a:hover {
    color: yellow;
}
.logo:hover{
    scale: 1.4;
}
.container-2 {
    padding: 140px;
    font-family: 'Inter';
    position: relative;
}

.yellow-line {
    width: 100px;
    /* Adjust the width to your preference */
    height: 2px;
    /* Adjust the height to make the line thicker or thinner */
    background-color: yellow;
    /* Set the background color to yellow */
    margin: 40px 20px;
}
.line-and-text {
    display: flex;
    align-items: center;
}
.welcome-text{
    margin-left: 15px;
    font-style: italic;
    font-size: 20px;
}
.sub-text{
    word-spacing: 2px;
}
p1{
    font-size: 50px;
    font-family: 'Inter';
}
.right-image{
    width: 20%;
    height: 70%;
    position:absolute;
    top: 30px;
    right: 60px;
}
section{
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.container-3{
    background-color: #eeee;
    padding: 120px;
    font-family: 'Inter';
    position: relative;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
h1{
    color: black; 
    text-align: center;
    font-size: 30px;
}
.left-image{
    width: 30%;
    height: 60%;
    position:absolute;
    top: 250px;
    left: 180px;
    border-bottom: 5px solid yellow;
    border-right: 5px solid yellow;
}
.side-text{
    color: rgba(103, 102, 102, 1);
    width: 50%;
    text-align:start;
    margin: 70px 650px;
    word-spacing: 2px;
    line-height: 30px;
    font-size: 20px;
}
.container-4{
    background-color: #ffffff;
    padding: 130px;
    font-family: 'Inter';
    color: rgb(0, 0, 0);
}
.books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.book1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.book-img {
    width: 150px; 
    height: auto; 
}

.book1 span{
    margin-top: 15px;
}

.book-title {
    font-weight: bold;
    margin-top: 10px;
}

.order-now {
    cursor: pointer;
    border: 2px solid yellow;
}
footer{
    background-color: #1B3764;
    margin-left: 160px;
    padding: 20px;
    position: relative;
}
.icon{
    display: flex;
    align-items: center;
    margin-top: -50px;
    margin-left: 250px;
}
.icon-img{
    width: 30px;
    padding-left: 50px;
}
.fade-in {
    animation: fadeInAnimation 1s ease-in both;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.upload-img{
    display: flex;
    justify-items: center;
}